@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	line-height: 20px;

	margin: 0;
	padding: 0;
}

body {
	background-color: #c4c4c4;
}

section.main-banner {
	height: 75vh;
	position: relative;
	background-image: url('/images/banner.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* HEADER */

header {
	position: fixed;

	top: 0;
	left: 0;
	right: 0;

	z-index: 15;
}

header nav {
	padding: 1vh 5vw !important;
}

header nav img.logo {
	max-width: 168px;
}

header .navbar {
	z-index: 10 !important;
}

header nav.bg-dark {
	background: #1e1e1e !important;
}

header nav .nav-item {
	margin: auto 1rem !important;
}

/* MAIN */

main {
	padding-top: 7.7vh;
}

main .container {
  margin: auto auto 1rem !important;
  padding: 0 !important;
}

main .container h1 {
	padding: 20px 0px;
	margin: initial;

	text-transform: uppercase;
}

main .container img {
	width: 100%;
}

main .content {
	background-color: #fff;
	margin: initial;
	padding: 20px;
}

main .main-content {
	margin-top: -15rem !important;
}

main .news {
	border-right: solid 1px #000;
}

main .news h2 {
	font: 700 2rem Roboto !important;
	text-transform: uppercase !important;
	color: #fff !important;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #6ea62f !important;
	border: none !important;
	border-radius: 0 !important;

	margin-bottom: 1.6rem;
	padding: 0 2rem !important;
	
	width: 30% !important;
	height: 3rem !important;
}

main .news h3,
main .top-movies h4,
main .top-movies h5 {
	font-weight: 700;
	text-transform: uppercase;
}

main .top-movies h4 {
	margin-bottom: 1rem;
}

main .container .card {
	background: none;
	border: none;
}

main .container .news-description {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 0.6rem;
}

main .container .news-description .new {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;

	background: #fd0000;

	padding: 0.2rem 0.3rem;
}

main .container .tab-content {
	background: #1e1e1e;

	color: #aeaeae;
}

main .soon-content {
	background: #6ea62f;
	width: 100%;
}

main .movie-content {
  background: #fff;
}

main .movie-content h2,
main .movie-content h3,
main .contact-content h2,
main .about-content h2,
main .about-content h3 {
	text-transform: uppercase;
	font-weight: 700;
}

main .movie-content .cover-movie {
	margin-bottom: 1rem;
}

main .movie-content ul {
	margin-left: 1rem;
}

main p.movie-description {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 50%;
}

main .soon-content .row {
	border-top: 2px solid #fff;
}

main .soon-content .h2,
main .soon-content .row .h3,
main .soon-content h2,
main .soon-content .row h3 {
	margin-top: 0.4em !important;
}

main .soon-content h2,
main .soon-content p,
main .soon-content .more h3 {
	color: #FFF;
}

main .soon-content h2,
main .soon-content h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

main .soon-content h2,
main .soon-content .more h3 {
  text-align: center;
}

main .soon-content .row .soon {
	border: solid 1px #fff;
}

main .trailers-content {
	background: #000;

	padding: 1rem;
}

main .trailers-content .row:not(:first-child) {
	margin-top: 1rem;
}

main .trailers-content .row:not(:last-child) {
	border-bottom: 1px solid #fff;
}

main .trailers-content h2,
main .trailers-content h3 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

main .trailers-content p {
	color: #aeaeae;
}

main .contact-content .form-group label {
	font-weight: 700;
}

main .contact-content .form-check label {
	font-weight: 500;
}

/* FOOTER */

footer {
	background-color: #000;
	color: #fff;

	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer form {
	display: flex;

	width: 100%;
}

form button[type=submit] {
	font: 700 1rem Roboto !important;
	text-transform: uppercase !important;
	color: #fff !important;

	background: #6ea62f !important;
	border: none !important;
	border-radius: 0 !important;

	height: 2rem !important;

	padding: 0 1rem !important;
}

footer form label {
	display: block;

	width: 75%;
}

form input[type=text],
form input[type=email],
form textarea,
form select {
	border: none !important;
	border-radius: 0 !important;
	background: #e5e5e5 !important;

	padding: 0.2rem !important;

	width: 100% !important;
}

form input[type=email] {
	height: 2rem !important;
}

form input[type=checkbox] {
	width: 2rem !important;
	height: 2rem !important;

	margin-right: 1rem;

	border: none !important;
	border-radius: 0 !important;
}

form .form-check-label {
	display: flex;
	align-items: center;

	position: initial !important;
}

form .form-check-input {
	position: initial !important;
}

form input::placeholder,
form textarea::placeholder,
form option,
form select {
	text-transform: uppercase;
	color: rgb(50, 50, 50);
	font-weight: 700 !important;

	padding-left: 0.6rem;
}

footer div.container {
	padding: 2rem;
}

footer h6 {
	font-size: 1.2rem;
	line-height: 28px;
}

footer h6,
footer ul li {
	list-style: none;
	font-weight: 700;
}

footer ul li {
	margin: 1.2rem 0;
}
