@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	line-height: 20px;

	margin: 0;
	padding: 0;

	transition: all 0.3s;
}

a {
	cursor: pointer;
}

body {
	background-color: #c4c4c4;
}

section.main-banner {
	height: 75vh;
	position: relative;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

section.main-banner .banner-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 0 20% 15%;
}

section.main-banner .banner-text h1,
section.main-banner .banner-text h2 {
	padding: 5px 0px;
	margin: initial;

	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.725);
}

section.main-banner .banner-text h1 {
	font-weight: 700;
	font-size: 5rem;

	border-bottom: 2px solid #fff;
}

section.main-banner .banner-text h2 {
	font-weight: 100;
	font-size: 2rem;
}

/* .dark-mode {
	filter: invert(1) hue-rotate(180deg);
} */

/* HEADER */

header {
	position: fixed;

	top: 0;
	left: 0;
	right: 0;

	z-index: 15;
}

header nav {
	padding: 1vh 5vw !important;
}

header nav img.logo {
	max-width: 168px;
}

header .navbar {
	z-index: 10 !important;
}

header nav.bg-dark {
	background: #1e1e1e !important;
}

header nav .nav-item {
	margin: auto 1rem !important;
}

/* MAIN */

main {
	padding-top: 7.7vh;
}

main .container {
	margin: auto auto 1rem !important;
	padding: 0 !important;

	color: #000;
}

main .container h1 {
	margin: initial;
	padding: 20px 0;
	text-transform: uppercase;
}

main .container img {
	width: 100%;
}

main .content {
	background-color: #fff;
	margin: initial;
	padding: 20px;
}

main .main-content {
	margin-top: -15rem !important;
}

main .main-content figure {
	width: 100%;
	height: 200px;
	margin: 0;
}

main .main-content figure img {
	width: 100%;
	height: 100%;
}

main .main-content .nav-pills {
	position: absolute;
	top: -55px;

	z-index: 30;

	margin-left: -15px;
}

main .main-content .nav-pills .nav-item .nav-link {
	position: relative;

	color: #fff;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;

	background: #1e1e1e;
	border-color: #1e1e1e;

	border-radius: 0;

	padding: 1.1rem 3rem;
	margin-right: 0.2rem;
}

main .main-content .nav-pills .nav-item .nav-link.active {
	background: #6ea62f;
	border-color: #6ea62f;
}

main .main-content .nav-pills .nav-item .nav-link.active::after {
	content: ' ';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 7px;
	border-style: solid;
	border-color: #6ea62f transparent transparent transparent;
}

main .news {
	border-right: solid 1px #000;
	color: #000;
}

main .news h2 {
	font: 700 2rem Roboto !important;
	text-transform: uppercase !important;
	color: #fff !important;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #6ea62f !important;
	border: none !important;
	border-radius: 0 !important;

	margin-bottom: 1.6rem;
	padding: 0 2rem !important;

	width: 30% !important;
	height: 3rem !important;
}

main .news h3,
main .top-movies h4,
main .top-movies h5 {
	font-weight: 700;
	text-transform: uppercase;
}

main .top-movies h4 {
	margin-bottom: 1rem;
}

main .container .card {
	background: none;
	border: none;
}

main .container .news-description {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 0.6rem;
}

main .container .news-description .new {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;

	background: #fd0000;

	padding: 0.2rem 0.3rem;
}

main .container .tab-content {
	background: #1e1e1e;

	color: #aeaeae;

	padding-top: 1rem;
}

main .soon-content {
	background: #6ea62f;
	width: 100%;
	height: 100%;
}

main .movie-content {
	background: #fff;
}

main .movie-content h2,
main .movie-content h3,
main .contact-content h2,
main .about-content h2,
main .about-content h3 {
	text-transform: uppercase;
	font-weight: 700;
}

main .movie-content .cover-movie {
	margin-bottom: 1rem;
}

main .movie-content ul {
	margin-left: 1rem;
}

main p.movie-description {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

main .soon-content .row {
	border-top: 2px solid #fff;
}

main .soon-content .h2,
main .soon-content .row .h3,
main .soon-content h2,
main .soon-content .row h3 {
	margin-top: 0.4em !important;
}

main .soon-content h2,
main .soon-content p,
main .soon-content .more h3 {
	color: #fff;
}

main .soon-content h2,
main .soon-content h3 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

main .soon-content h3 {
	color: #1e1e1e;
}

main .soon-content h2,
main .soon-content .more h3 {
	text-align: center;
}

main .soon-content .row .soon {
	border: solid 1px #fff;
}

.soon-content img {
	min-width: 30px;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	filter: invert(1);
}

.contact-content section h2 {
	padding: 0 15px;
}

main .trailers-content {
	background: #000;

	padding: 1rem;
}

main .trailers-content .row:not(:first-child) {
	margin-top: 1rem;
}

main .trailers-content .row:not(:last-child) {
	border-bottom: 1px solid #fff;
}

main .trailers-content h2,
main .trailers-content h3 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

main .trailers-content p {
	color: #aeaeae;
}

main .contact-content .form-group label {
	font-weight: 700;
}

.contact-content article iframe {
	width: 100%;
}

main .contact-content .form-check label {
	font-weight: 500;
}

main .about-content .nav {
	display: flex;
	flex-direction: column;
}

main .about-content .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #6ea62f;
	border-radius: 0;
}

main .about-content .nav-pills .nav-link,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1e1e1e;
	border-radius: 0;
}

main .about-content .nav-pills .nav-link:not(.active):hover {
	background-color: #292929;
}

main .about-content .tab-content .accordion ol {
	list-style-position: inside;
}

main .about-content .tab-content .accordion ol li {
	list-style: decimal;
}

main .about-content .tab-content .accordion .card article ol li {
	list-style: upper-roman;
}

main .about-content .tab-content .accordion ul li {
	list-style: disc;
}

main .about-content .btn-link {
	color: #000000;
	text-decoration: none;
	font-weight: 700;
	font-size: large;
	text-transform: uppercase;
	text-align: left;
}

main .about-content .nav .nav-pills a {
	color: #ffffff;
	text-decoration: none;
	background-color: #1e1e1e;
}

main .about-content .container .tab-content {
	background: #fff;
	color: #000;
}

main .about-content .card-header .btn-link:hover {
	color: #000;
	text-decoration: underline;
}

main .about-content .card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: initial;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

main .about-content .img-aluno {
	display: flex;
	align-content: center;
	justify-content: center;

	margin-bottom: 1rem;
}

main .about-content .img-aluno .img {
	width: 75%;
	border-radius: 50%;
}

.tab-icon {
	margin-right: 0.5rem;
}

main .about-content .nav-pills .nav-link {
	display: flex;
	align-items: center;
}

/* FOOTER */

footer {
	background-color: #000;
	color: #fff;

	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer form {
	display: flex;

	width: 100%;
}

form button[type='submit'] {
	font: 700 1rem Roboto !important;
	text-transform: uppercase !important;
	color: #fff !important;

	background: #6ea62f !important;
	border: none !important;
	border-radius: 0 !important;

	height: 2rem !important;

	padding: 0 1rem !important;
}

footer form label {
	display: block;

	width: 75%;
}

form input[type='text'],
form input[type='email'],
form textarea,
form select {
	border: none !important;
	border-radius: 0 !important;
	background: #e5e5e5 !important;

	padding: 0.2rem !important;

	width: 100% !important;
}

form input[type='email'] {
	height: 2rem !important;
}

form input[type='checkbox'] {
	width: 2rem !important;
	height: 2rem !important;

	margin-right: 1rem;

	border: none !important;
	border-radius: 0 !important;
}

form .form-check-label {
	display: flex;
	align-items: center;

	position: initial !important;
}

form .form-check-input {
	position: initial !important;
}

form input::placeholder,
form textarea::placeholder,
form option,
form select {
	text-transform: uppercase;
	color: rgb(50, 50, 50);
	font-weight: 700 !important;

	padding-left: 0.6rem;
}

footer section.container {
	padding: 2rem;
}

footer h6 {
	font-size: 1.2rem;
	line-height: 28px;
}

footer h6,
footer ul li {
	list-style: none;
	font-weight: 700;
}

footer ul li {
	margin: 1.2rem 0;
}

footer ul li a {
	color: #fff;
}

footer ul li a:hover {
	text-decoration: none;
	color: #fff;
}

@media (min-width: 576px) and (max-width: 992px) {
	/* ====== HOME ====== */

	.card {
		margin-top: 20px;
	}

	.card-body {
		padding: 1.25rem 0;
	}

	main .main-content .nav-pills {
		z-index: 5;
	}

	main .main-content .nav-pills .nav-item .nav-link {
		font-size: 1.5rem;
	}

	.soon-content h2 {
		font-size: 1.25rem;
	}

	.soon-content article h3 {
		font-size: 1.15rem;
	}

	.soon-content article p {
		font-size: 0.85rem;
	}

	section.main-banner {
		top: -50px;
	}

	section.main-banner .banner-text h1 {
		font-weight: 700;
		font-size: 3.5rem;
		border-bottom: 2px solid #fff;
	}

	main .container img {
		min-width: 30px;
	}

	main .container .news-description .new,
	main .container .news-description .new-title {
		font-size: 0.75rem;
	}

	main .trailers-content h2,
	main .trailers-content h3 {
		font-size: 1.25rem;
	}
	main .news h2 {
		font-size: 1.5rem !important;
	}

	.soon-content img {
		min-width: 30px;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}

	/* ====== QUEM SOMOS ====== */
	main .about-content .img-aluno .img {
		width: 100%;
		border-radius: 50%;
	}
}

@media (max-width: 575px) {
	/* ====== HOME ====== */

	main {
		padding-top: 9.7vh;
	}

	section.main-banner {
		top: -70px;
		margin: 50px 0;
	}

	main .main-content .nav-pills .nav-item .nav-link {
		margin-right: 0 !important;
	}

	main .container.main-content {
		padding-right: 15px !important;
    padding-left: 15px !important;
	}

	main .container .tab-content {
		padding-top: 3rem;
	}

	main .main-content .nav-pills .nav-item .nav-link.active::after {
		display: none;
	}

	section.main-banner .banner-text h1 {
		font-weight: 700;
		font-size: 2.5rem;
		border-bottom: 2px solid #fff;
	}

	.soon-content {
		display: none;
	}

	.card {
		margin-top: 20px;
	}

	.card-body {
		padding: 1.25rem 0;
	}

	main .main-content .nav-pills {
		z-index: 5;
	}

	.nav-pills li {
		width: 100%;
	}

	.nav-pills li a {
		text-align: center;
	}

	main .main-content figure {
		height: 300px;
	}
	main .main-content .nav-pills {
		width: 100.5%;
	}
	main .main-content .nav-pills .nav-item .nav-link {
		font-size: 1.5rem;
	}

	/* ====== CATEGORIA ====== */
	main .news h2 {
		width: 100% !important;
	}

	main .news {
		border: initial;
	}

	.news section img,
	.top-movies section img {
		margin: 15px 0;
	}

	main .container h1 {
		padding: 20px;
	}

	/* ====== QUEM SOMOS ====== */
	.about-content article h2 {
		font-size: 1.5rem;
	}

	.about-content article h3 {
		font-size: 1.2rem;
	}

	/* ====== CONTATO ====== */

	.contact-content article img {
		margin: 15px 0;
	}

	.contact-content section h2 {
		padding: 0 15px;
	}

	/* ====== FILME ====== */

	.content .movie-content h2 {
		font-size: 1.5rem;
	}
	.content .movie-content h3 {
		font-size: 1.2rem;
	}
}
