@charset "utf-8";

section.main-banner {
	height: 75vh;
	position: relative;
	background-image: url("/images/banner.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
